<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>品牌列表demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor situe accusamus.</h3>
            </div>
            <div class="panel-body form-inline">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="输入ID" v-model="id" disabled>
                    <input class="form-control" type="text" placeholder="输入Name" v-model="name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" @click="add">添加</button>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="搜索" v-model="sThing">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" @click="search(sThing)">搜索</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>TIME</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(sThing)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.time }}</td>
                    <td><a href="" @click.prevent="remove(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            id: 3,
            name: '',
            time: '',
            sThing: '',
            list: [
                { id: 1, name: "Kaloas", time: new Date() },
                { id: 2, name: "MiliChis", time: new Date() },
            ]
        },
        methods: {
            add() {
                if (this.id) {
                    const date = new Date();
                    let seconds = date.getSeconds();
                    let nowTime = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + ' ' + date.getHours() + ":" + date.getMinutes() + ":" + (seconds < 10 ? seconds + '0' : seconds);

                    var lox = this.list.push({ id: this.id++, name: this.name, time: nowTime });
                    console.log(lox)
                    this.name = '';
                }
            },
            remove(index) {
                var x = this.list.findIndex(item => {
                    if (item.id == index) {
                        return true;
                    }
                })
                this.list.splice(x, 1);
            },
            search(sThing) {
                /*console.log(this.list.name+" "+sThing);*/
                let secGroup = [];
                this.list.forEach((item, index) => {
                    if (item.name.indexOf(sThing) != -1) {
                        //console.log(this.list[index]);
                        //this.list.splice(0,this.list.length,this.list[index]);
                        secGroup.push(this.list[index]);

                    }
                })
                return secGroup;
            }
        },
    });
    </script>
</body>

</html>

